:root {
  --primary-font: 'Open Sans', sans-serif;
  --accent-font: 'Roboto', sans-serif;
  --primary-font-size: 14px;
  --brand-primary-color: #337ab7;
  --primary-color: #0c5174;
  --accent-color: #cccccc;
  --content-color: #ffffff;
  --background-color: #eeeeee;
  --button-color: #2c3031;
  --primary-font-color: #000000;
  --accent-font-color: #FFFFFF;
}

h2 {
  font-family: var(--accent-font);
}

h3 {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 18px;
}

h4 {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 16px;
}

body {
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  background-color: var(--background-color);
}

header {
  height: 50px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  color: var(--accent-font-color);
  background-color: var(--primary-color);
  -webkit-box-shadow: 3px 3px 2px 1px rgba(119,119,119,0.4);
  -moz-box-shadow: 3px 3px 2px 1px rgba(119,119,119,0.4);
  box-shadow: 3px 3px 2px 1px rgba(119,119,119,0.4);
}

header .logo {
  margin: 5px 0;
  height: 40px;
}

header .title {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

header .title h1 {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: 26px;
  font-weight: bold;
  color: var(--accent-font-color);
  line-height: 40px;
}

header .title a:hover {
  text-decoration: none;
}

header .subtitle {
  line-height: 50px;
  margin-left: 10px;
}

header .avatar-username {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

header .avatar-logout {
  font-size: 10px;
  color: var(--accent-font-color);
}

header .avatar-image img {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 50%;
}

.form-horizontal .control-label{
  text-align: left;
}

.control-label {
  font-weight: inherit;
}

.form-inline label {
  margin-bottom: 0;
}

input[type="text"], input[type="password"], textarea {
  color: var(--primary-font-color);
}

.menus > .nav > li > ul {
  margin-left: 278px;
  margin-top: -54px;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
}

.menus > .nav > li > ul > li {
  position: relative;
}

.menus > .nav li a {
  display: block;
  background-color: var(--content-color);
  color: var(--primary-font-color);
  font-size: 16px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--accent-color);
}

.menus > .nav li.active {
  background-color: transparent;
  background-image: none;
  margin: 0;
  padding: 0;
}

.menus > .nav li > a:hover, .menus > .nav li > a:focus {
  color: var(--brand-primary-color);
  background-color: lighten(var(--accent-color), 10%);
  text-decoration: none;
}

.menus > .nav li.active {
  text-shadow: none;
}

.menus > .nav li.active a {
  color: var(--brand-primary-color);
}

.menu-arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  line-height: 27px;
  font-size: 22px;
  text-align: center;
  color: var(--accent-color);
  background: var(--content-color) center center no-repeat;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid var(--accent-color);
}

.menus > .nav > li.active > .menu-arrow {
  background: var(--brand-primary-color) center center no-repeat !important;
}

.widget {
  margin-top: 15px;
  padding: 8px 15px;
  background-color: var(--content-color);
  border: 1px solid var(--accent-color);
}

.content {
  padding: 0 15px;
  background-color: var(--content-color);
  min-height: 624px;
  border: 1px solid var(--accent-color);
}

.title-inline {
  margin-bottom: 10px;
}

.title-inline h2, .title-inline h3, .title-inline h4, .title-inline h5, .title-inline h6 {
  display: inline-block;
  vertical-align: baseline;
}

.title-inline .btn {
  margin-bottom: 10px;
}

.title-inline .btn:first-of-type {
  margin-left: 10px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.nav-tabs > li > a {
  color: #555;
}

.tag-separator {
  margin-top: 0;
  margin-bottom: 10px;
}

.content-text.scrollable {
  height: 600px;
  padding: 15px;
  overflow-y: scroll;
}

.content-text table {
  margin-bottom: 10px;
}

.content-text table, .content-text th, .content-text td {
  border-collapse: collapse;
  border: 1px solid black;
}

.content-text th, .content-text td {
  padding: 5px;
}

.content-text th {
  font-family: var(--accent-font);
  font-weight: bold;
  background-color: #EEEEEE;
}

.content-text em {
  font-style: italic;
}

.content-text strong {
  font-family: var(--accent-font);
}

.content-text ol li, .content-text ul li {
  margin-left: 25px;
}

.content-text ol.breadcrumb li {
  margin-left: 0;
}

.content-text html, .content-text body {
  height: 100%;
  min-height: 100%;
}

.content-text blockquote {
  font-size: var(--primary-font-size);
}

.content-text .spoiler {
  margin-bottom: 5px;
  background-color: #f8f8f8;
  padding: 10px;
  border: 2px dashed #e7e7e7;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--accent-font);
  font-weight: bold;
}

.content-text .spoiler:hover {
  background-color: #e7e7e7;
}

.content-text .spoiler .spoiler-content {
  display: none;
  border-top: 1px solid var(--primary-font-color);
  margin-top: 5px;
  padding-top: 15px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
}

.content-text embed {
  width: 100%;
  min-height: 800px;
}

th {
  font-family: var(--accent-font);
  font-weight: bold;
}

.col-fit {
  width: 1%;
  white-space: nowrap;
}

.panel-heading {
  font-family: var(--accent-font);
}

.statement-help-modal-body, .statement-help-modal-body pre {
  font-size: 12px;
}

.statement-help-modal-body ol, .statement-help-modal-body ul {
  margin-left: 20px;
}

.statement-help-modal-body, .statement-help-modal-body p {
  margin: 0;
}
