@import '../../node_modules/reset-css/reset.css';
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/@blueprintjs/core/lib/css/blueprint.css';
@import '../../node_modules/@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css';

@import './base';
@import './table';
@import './ratings';

.bp4-dark,
.bp4-dark td,
.bp4-dark th,
.bp4-dark table.bp4-html-table td,
.bp4-dark table.bp4-html-table th,
.bp4-dark label,
.bp4-dark .bp4-control,
.bp4-dark .bp4-dialog,
.bp4-dark .bp4-tag.bp4-intent-primary,
.bp4-dark .bp4-tag.bp4-intent-danger,
.bp4-dark .bp4-breadcrumb-current {
  color: $dark-text-color;
}

body {
  font-family: $primary-font;
  background-color: #f4f5f6;
}

body .bp4-dark {
  background-color: $dark-gray5 !important;
}

.secondary-info {
  font-family: $accent-font;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $accent-font !important;
  font-weight: 500 !important;
  margin: 0 0 10px;
}

p {
  line-height: 20px;
}

small {
  line-height: 14px !important;
}

.bp4-light small {
  color: $secondary-text-color;
}

.bp4-dark small {
  color: $dark-secondary-text-color !important;
}

strong {
  font-weight: 700;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 18px !important;
  line-height: 9px !important;
}

h4 {
  font-size: 16px !important;
  line-height: 20px !important;
}

h5 {
  font-size: 14px !important;
}

hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;

  border: none;
  border-bottom: 1px solid rgba($text-color, 0.15);
}

.bp4-light hr {
  border-bottom: 1px solid $border-color;
}

.bp4-dark hr {
  border-bottom: 1px solid $dark-border-color;
}

a {
  color: $primary-color;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ol,
ul {
  padding-left: 25px;
}

ol li,
ul li {
  line-height: 20px;
  margin-bottom: 2px;
}

code,
pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

code {
  font-size: 13px;
  padding: 3px;
}

pre {
  font-size: 13px;
  padding: 9px;
  overflow: auto;

  code {
    padding: initial;
    border: initial;
    border-radius: initial;
  }
}

.bp4-dark code,
.bp4-dark pre {
  border-color: $dark-gray2;
  background-color: $dark-gray3;
}

pre.source-code {
  background-color: inherit !important;
}

em {
  font-style: oblique;
}

label {
  font-size: $font-size-small;
  font-weight: bold;
}

input {
  font-family: $primary-font;
  width: 100%;
  height: 35px !important;
  border-radius: 2px;
}

select {
  width: 100%;
}

table {
  width: 100%;
}

.bp4-dark td,
.bp4-dark th {
  border-color: $dark-secondary-background-color !important;
}

blockquote {
  border-left: 5px solid #eeeeee;
  padding: 10px 20px;
  margin: 0 0 20px;
}

/* Blueprint overrides */

.toast {
  margin-top: 50px;
}

.bp4-button.bp4-intent-primary {
  background-color: $primary-color;
}

/* End Blueprint overrides */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.multiline-text {
  white-space: pre-wrap;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.normal-weight {
  font-weight: normal !important;
}
